[package]
name = "unsigned-varint"
version = "0.2.2"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
description = "unsigned varint encoding"
repository = "https://github.com/paritytech/unsigned-varint"
readme = "README.md"
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
codec = ["bytes", "tokio-codec"]

[dependencies]
bytes = { version = "0.4", optional = true }
tokio-codec = { version = "0.1", optional = true }

[dev-dependencies]
bytes = "0.4"
criterion = "0.2"
hex = "0.3"
quickcheck = "0.8"
tokio-codec = "0.1"

[[bench]]
name = "benchmark"
harness = false
