[package]
name = "unsigned-varint"
version = "0.2.1"
authors = ["Parity Technologies <admin@parity.io>"]
license = "MIT"
description = "unsigned varint encoding"
repository = "https://github.com/paritytech/unsigned-varint"
readme = "README.md"

[features]
codec = ["bytes", "tokio-codec"]

[dependencies]
bytes = { version = "0.4", optional = true }
tokio-codec = { version = "0.1", optional = true }

[dev-dependencies]
quickcheck = "0.7"
bytes = "0.4"
tokio-codec = "0.1"

